<!DOCTYPE html>
<html>
  <head>
    <title>Di Jin's Personal Page</title>
    <style>
      body {
	  max-width: 60em;
	  margin: auto;
	  padding: 10px;
      }
      .photo {
	  width: 200px;
      }
    </style>
  </head>
  <body>
    <h1>Di Jin's Personal Page</h1>
    <nav><ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="publications.html">Publications &amp Projects</a></li>
      <li><a href="random_things.html">Random Things</a></li>
      <li><a href="fragments.html">Fragments of my Life</a></li>
    </ul></nav>
    <hr />
    <page-body></page-body>
  </body>
</html>
